*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
scroll-behavior:smooth;
}


/* NAVBAR */


.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
color:white;
position:sticky;
top:0;
}


.logo{
font-size:24px;
font-weight:bold;
}


.nav-links{
display:flex;
gap:30px;
list-style:none;
}


.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}


.nav-links a:hover{
color:#00bcd4;
}


.menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}
